extends layout-bare

block content
	div.container
		div.row 
			div.col-md-2
			div.col-md-8
				div.panel.panel-default
					div.panel-heading 404 Page Not Found
					div.panel-body You are trying to access a page that was not found on our server. 
						br
						| Please check that your URL is correct or try searching in the search bar above.
			div.col-md-2
